@font-face {
   font-family: TitleFont;
   src: url(./Assets/Fonts/ROMALIKA.otf);
}

h1 {
   text-align: center;
   font-size: 15vw;
   font-family: TitleFont;
}

.container {
   width:95vw;
}

.row {
   display: flex;
   justify-content: space-around;
   height: 19vw;
}

.column {
   width: 100%;
   height: 100%;
   background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}